header img{
    border: 10px solid rgb(0, 0, 0);
    border-radius: 50px;
    width: auto;
    height: 512px;
    
    
}
header {
    text-align: center;
    padding: 10px;
    font-size: x-large;
  }
  body{
    word-wrap: break-word;

  }
  main img{
    border: 10px solid rgb(0, 0, 0);
    border-radius: 100px;
    width: auto;
    height: 267px;
  }
  body{
    font-family: Pacifico, cursive;
  }

  .img-pers{
    border: 10px solid rgb(0, 0, 0);
    border-radius: 40px;
    width: auto;
    height: 600px;
    margin-left: 40%; 
    margin-bottom: 0%;
    margin-right: auto; 
    margin-top: 2%;   
  }
  .titulo-menu{

    margin-left: 45%; 
    margin-bottom: 0%;
    margin-right: auto; 
    margin-top: 2%;
  }
  header img:hover{
    transform: rotateY('angle');
  }